<ion-view view-title="Choose" ng-controller="ChooseCtrl">
    <ion-content class="padding" ng-controller="ChooseCtrl">
        <h1>Daily Bulletin</h1>
        <p style='text-align:center'>Please select the daily bulletin for your school.</p>
        <a ui-sref="app.upperschool">
            <button class="button button-block button-positive">
                Upper School
            </button>
        </a>
        <a ui-sref="app.middleschool">
            <button class="button button-block button-calm msButton">
                Middle School
            </button>
        </a>
        <a ui-sref="app.lowerschool">
            <button class="button button-block button-stable lsButton">
                Lower School
            </button>
        </a>

    </ion-content>
</ion-view>